* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.wrapper {
    margin: 0 auto;
}

body {

    font-family: Arial, Helvetica, sans-serif;
}





/* Header Section */

header {
    max-width: 1380px;
    min-height: 12vh;
    margin: 0 auto;
}

.header-first-section {
    width: 20%;
    float: left;
}

.inner-header-first-section .logo {
    height: 12vh;
    line-height: 12vh;
}

.logo {
    text-align: center;
}

.logo a {
    text-decoration: none;
}

nav ul {
    text-align: center;
    list-style: none;
}

li a {
    text-decoration: none;
    letter-spacing: 1px;
}

nav li {
    display: inline-block;
}

ul .nav-links {
    height: 12vh;
    line-height: 12vh;
    padding: 0px 40px;
}

.header-second-section {
    width: 50%;
    float: left;
}

.header-third-section {
    width: 30%;
    float: left;
}

ul .social-links {
    height: 12vh;
    line-height: 12vh;
    padding: 0px 12px;
}

/* End Of Header Section */







/* Index Content Section */

.inner-content {
    min-height: 73vh;
    background-color: #F1F6FA;
}

.first-text-section {
    float: left;
    width: 40%;
}

.inner-first-text-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 60px;
}

.developer {
    padding: 30px 0px;
}

.second-image-section {
    float: left;
    width: 40%;
}

.the-one {
    object-fit: cover;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding-top: 120px;
}

/* End Of Index Content Section */







/* About Content Section */

.about-inner-content {
    min-height: 73vh;
    background-color: #F9F9F9;
}

.about-first-text-section {
    float: left;
    width: 40%;
}

.about-inner-first-text-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 60px;
}

.about-developer {
    padding: 30px 0px;
}

.about-second-image-section {
    float: left;
    width: 40%;
}

.about-the-one {
    object-fit: cover;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding-top: 120px;
}

/* End Of About Content Section */







/* Projects Content Section */

.projects-inner-content {
    min-height: 73vh;
    background-color: #F9F9F9;
}

.projects-first-text-section {
    float: left;
    width: 40%;
}

.projects-inner-first-text-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 60px;
}

.projects-developer {
    padding: 30px 0px;
}

.projects-second-image-section {
    float: left;
    width: 40%;
}

.projects-the-one {
    object-fit: cover;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding-top: 120px;
}

/* End Of Projects Content Section */






/* Contact Content Section */

.contact-inner-content {
    min-height: 73vh;
    background-color: #F9F9F9;
}

.contact-first-text-section {
    float: left;
    width: 40%;
}

.contact-inner-first-text-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 60px;
}

.contact-developer {
    padding: 30px 0px;
}

.contact-second-image-section {
    float: left;
    width: 40%;
}

.contact-the-one {
    object-fit: cover;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding-top: 120px;
}

/* End Of Contact Content Section */







/* Footer Section */

footer {
    min-height: 15vh;
    height: 15vh;
    line-height: 15vh;
}

/* End Of Fotter Section */